<!DOCTYPE html>
<html>
	<head>
		<title>Main page</title>
		<script type="text/javascript" src="{{ static_url("jquery-3.2.1.min.js") }}"></script>
		<script type="text/javascript">
            var ws = null;
            $(document).ready(function() {
                $('#connect').click(function(e) {
                    e.preventDefault();
                    var id = $('input[name="nickname"]').val();
                    if (id === '') {
                        alert('Enter your nickname!');
                        return;
                    }

                    if (ws === null)
                        ws = new WebSocket('ws://192.168.0.162:8000/ws');
                    else {
                        ws.close();
                        ws = new WebSocket('ws://192.168.0.162:8000/ws');
                    }

                    ws.onopen = function() {
                        var obj = {
                            'cmd' : 'login',
                            'nickname' : id
                        };
                        ws.send(JSON.stringify(obj));
                    };

                    ws.onmessage = function(evt) {
                        var chat = $('#text_area');
                        chat.val(evt.data);
                    };
                });
                $('#dis').click(function(e) {
                    e.preventDefault();
                    var id = $('input[name="nickname"]').val();
                    var obj = {
                        'cmd' : 'disconnect',
                        'nickname' : id
                    };
                    ws.send(JSON.stringify(obj));
                    $('#text_area').val('');
                });
            });
		</script>
	</head>
	<body>
        <h2>Nickname: <input type="text" name="nickname"></h2>
        <p>
            <button id="connect">Connect</button>
            <button id="dis">Disconnect</button>
        </p>
		<textarea id="text_area" cols="50" rows="10"></textarea>
	</body>
</html>
