<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<script type="text/javascript" src="{{ static_url("jquery-3.2.1.min.js") }}"></script>
		<script type="text/javascript">
			$(function() {
				var ws = new WebSocket('ws://192.168.0.162:8000/ws');
				ws.onopen = function() {
				    var obj = {
				        "nickname" : 'dwaaa'
                    };
					ws.send(JSON.stringify(obj));
				};
				ws.onmessage = function(evt) {
					var chat = $('#text_area');
					chat.append(evt.data);
				};
				$('input[name="send_button"]').on('click', function() {
					var text = $('#msg').val();
					if (text.length > 0)
						ws.send(text);
					$('#msg').val('');
					$('#msg').focus();
				});
			});
		</script>
	</head>
	<body>
		<h1>Hello, World!</h1>
		<textarea id="text_area" cols="50" rows="10"></textarea>
		<br>
		<input type="text" name="msg" id="msg"></input>
		<input type="button" name="send_button" value="Отправить"></input>
	</body>
</html>
